extends pug/base

append vars
	- html.classList.push("page-index")
	- meta.charset = "utf-8"
	- meta.description = "Shuledas"
	- title = "Shuledas"
	- meta.viewport = "width=device-width, initial-scale=1" 


block content 
	.info-page
		include header.pug
		.container
			.row 
				.col-12.col-md-4.sidebar-nav
					mixin sidebar_nav_item(title, classn)
						a(href="#" class=classn).sidebar-nav--link=title
					+sidebar_nav_item('О нас', 'active')
					a(href="/contact_us.html").sidebar-nav--link Свяжитесь с нами
					+sidebar_nav_item('Условия предоставления услуг')
					+sidebar_nav_item('Политика конфеденциальности')
					+sidebar_nav_item('Общие условия и положения компании')
					+sidebar_nav_item('Политика в отношении файлов cookie')
					+sidebar_nav_item('Политика в отношении интеллектиуальной собственности')
					+sidebar_nav_item('Политика недискриминации Schuledas')
				.col-1.hide-in-992
				.col-12.col-md-8.col-lg-6.info-content
					h1.h1 О нас
					p.info-page--subtitle Мы работаем для тех, кто завтра изменит мир!
					p.info-page--parag Портал и сообщество schuledas создано нами для того, чтобы молодое поколение через образование в Германии пришло не только к собственному успеху и интересной жизни, но и повлияло на наше общее мирное и благополучное будущее.
					p.about-us--letter A

					h2.h2 О нас
					
					.info-text.flex.flex-column
						p На портале и онлайн-сообществе schuledas представлены лучшие частные  школы и ВУЗы Германии. Это частные учебные заведения, которые дают блестящее образование, открывают и развивают в молодых людях их лучшие качества, формируют из них многогранную и успешную личность и обеспечивают прекрасное будущее.
						p 1. При помощи модуля поиска вы можете подобрать частную школу или ВУЗ, соответствующий вашим критериям и пожеланиям.
						p 2. Для помощи в выборе schuledas предлагает возможность задать вопросы напрямую школе или приемной комиссии ВУЗа и прочесть отзывы учеников и студентов.
						p 3. Schuledas- это комьюнити, в которой у вас есть возможность пообщаться с другими участниками портала. Таким образом на одной платформе вы можете сравнить различные учебные заведения между собой, чтобы ваш выбор стал для вас наилучшим. Желаем успеха на пути к лучшему образованию в Германии!

		include footer.pug 