extends pug/base

append vars
	- html.classList.push("page-index")
	- meta.charset = "utf-8"
	- meta.description = "Shuledas"
	- title = "Shuledas"
	- meta.viewport = "width=device-width, initial-scale=1"
	<link rel="stylesheet" href="css/slider/jslider.css" type="text/css">

block content 
	include header_career.pug
	main.content
		//- .main-popup
			.container
				.row.align-items-center.justify-content-between
					p.main-popup--number 4,790
					span.main-popup--summary 
						span
						| Проверенная база сотрудников со знанием языка
					span.main-popup--close
						i.fas.fa-times-circle
		.main-banner
			.main-slider
				.slider-item
					img(src="images/shuledas_career/main_banner.png", alt="")
					.slider-item--content
						h2  Auswahl aus einem Markt mit über 50 millionen potentiellen Kandidaten.
							br
							|  Nur hochqualifizierte Spezialisten 
				.slider-item
					img(src="images/shuledas_career/main_banner.png", alt="")
					.slider-item--content
						h2 Talentierte und erfahrene Kandidaten.
							br
							|  Geprüfte Diplome & Zertifikate 
				.slider-item
					img(src="images/shuledas_career/main_banner.png", alt="")
					.slider-item--content
						h2 Durchdachte Positionierung Ihres Unternehmens. 
							br
							| Bekommen Sie nur die Top-Kandidaten

			.container
				a(href="/pik_plan.html").btn.btn--candidates Найти сотрудников
				//- .search-employee.flex.justify-content-between
					.field.flex.flex-column
						input.field--input(type="text" placeholder="Должность" name="position-name ")
					.filter-select.js-filter
						select
							option(value="2") Moskow
							option(value="0") New York, NY
							option(value="3") Amsterdam
							option(value="3") Sidney
					button.btn.bnt--employee 
						i.fas.fa-users
						| Найти сотрудника
					button.btn.bnt--job 
						i.fas.fa-building
						| Найти работу

		//- .container.benefit
			.col-12
				.row
					.col-12
						h2.h2 Преимущества
						p.block-summary Персональные вакансии от ведущих компаний 🇩🇪 Германии, 🇦🇹 Австрии, 🇨🇭Швейцарии
					mixin benefit_item(summary,title,descr,icon)
						.col-12.col-md-6.col-xl-3
							.benefit-item
								p.benefit--summary=summary
								p.benefit--title=title
								p.benefit--descr=descr
								img(src=icon, alt="").benefit--icon
					+benefit_item(  'для работодателей и соискателей',
									'Маркетинговые решения',
									'Решения по продвижению резюме и вакансий. Брендирование, премиум объявления, объявления на сайте и в рекламной сети.',
									'images/shuledas_career/icon_main (2).png')
					+benefit_item(  'для работодателей и соискателей',
									'Поддержка, обучение, подготовка документов',
									'24/7 on-line поддержка всех пользователей, разрешение споров. Формирование необходимого пакета документов.',
									'images/shuledas_career/icon_main (3).png')
					+benefit_item(  'для работодателей',
									'База данных проверенных резюме',
									'Проверка данных и знаний соискателей. Дополнительное обучение сотрудников.',
									'images/shuledas_career/icon_main (4).png')
					+benefit_item(  'для соискателей',
									'Работа в ведущих компаниях',
									'Только платные объявления работодателей. Открытые данные и отзывы о компаниях.',
									'images/shuledas_career/icon_main (1).png')
		.block-line
 

		.main-info.flex
			.main-info--image.right
				img(src="images/shuledas_career/main_info (1).png", alt="")
			.main-info--wrap
				.main-info--content.right
					.main-info--title.flex.justify-content-between.align-items-centr
						h2.h2 Работодателю
						a(href="/universities_list.html").btn.btn--institution Присоедениться
					.main-info--text
						p Mit schuledas steigern Sie Ihren Umsatz und sparen Ihre wertvolle Zeit Schuledas ist die marktführende internationale Media- und Suchplattform für Bildung, Business und Karriere. 
						p Unternehmen aus der DACH-Region haben auf schuledas die Möglichkeit, sich in den baltischen Staaten, GUS-Staaten und Georgien zu präsentieren und nach internationalen Mitarbeitern und/oder Partnern zu suchen.
						p In diesen Fachbereichen haben hochqualifizierten Fachkräften aus Nicht-EU-Staaten die Möglichkeit und das Recht, mit der Blue Card in der Europäischen Union zu arbeiten und zu bleiben.
						.main-info--list
							ul
								li Markt mit 50 Millionen potentiellen Kandidaten 
								li Top Spezialisten
								li Die Kandidaten sprechen Deutsch und/oder Englisch
								li Kandidaten für verschiedene Arbeitsverhältnisse (Vollzeit im Büro vor Ort, freie Mitarbeit und auf Projektbasis auf Distanz) 
								li Alle erforderlichen Dokumente & Zertifikate
								li Beratung und Unterstützung während der Kandidatensuche auf Schuledas, der Sprachvorbereitung, Einreise- und Visumverfahren und ggfs. der Diplomanerkennung 


								//- li.docs Кандидаты с полным пакетом документов
								//- li.check Проверка знаний соискателей
								//- li.world Кандидаты с любой точки мира
		.col-12
			.flex.justify-content-center
				.plan-text-item
					p.plan-title Wir spezialisieren uns auf die folgenden Fachbereiche:
					ul.flex.flex-wrap
						li IT
						li Telekommunikation
						li Engineering & Technical Jobs
						li Automobile
						li General Management
						li Health
						li R&D, Science & Scientific Research
						li Pharma
						li Media & Information
						li Design & Architecture
						li Education

	include footer.pug