extends pug/base

append vars
	- html.classList.push("page-index")
	- meta.charset = "utf-8"
	- meta.description = "Shuledas"
	- title = "Shuledas"
	- meta.viewport = "width=device-width, initial-scale=1"
	<link rel="stylesheet" href="css/slider/jslider.css" type="text/css">


block content
	.school_search
		include header.pug
		main.flex.flex-wrap.flex-column
			.filter-hei
				.container 
					.col-12.institution-list--top
						.row.justify-content-between
							h1.h1 
								span.h-title Школы
									span.h-qty 325
							a(href="#").btn--forum.btn--filter.btn--viol.align-self-center Закрыть фильтры
								i.fas.fa-times-circle

				.container
					.filter.filter-school
						.filter-line.flex
							input(type="text" placeholder="Введите поисковый запрос").institution-filter-input.institution-filter-input--school
						.filter-line.flex 
							.flter-price
								.filter-price--top.flex.justify-content-between
									span.filter-price--title Стоимость
								input(type="slider" name="price" value="5000;50000" )#Slider2
							.filter-by.flex.align-self-center
								span.filter-by--title По стоимости
								.filter-by--type
									//- input(type="radio" name="filter-price" checked="checked").filter-by--input.price
									//- input(type="radio" name="filter-price").filter-by--input.rating
									input(type="checkbox" name="filter-price").filter-by--input
									span.filter-by--mask
								span.filter-by--title По рейтингу
							.filter-by.last.filter-price--cost
								span По убыванию
								i.fas.fa-dollar-sign
								input(type="hidden" name="descend")
						.filter-line.flex
							.filter-select
								select(multiple)
									option(value="3") Классы
									option(value="2") Цена
									option(value="1") Продолжительность обучения
							.filter-select
								select
									option(value="3") Лет обучения
									option(value="2") Цена
									option(value="2") Цена
									option(value="2") Цена
									option(value="2") Цена
									option(value="2") Цена
									option(value="2") Цена
									option(value="2") Цена
									option(value="1") Продолжительность обучения
							.filter-select
								select
									option(value="3") Размещения
									option(value="2") Цена
							button.btn.btn--search.btn--school-color.align-self-start Показать

			.container.flex.flex-wrap
				.institution-btns.institution-btns--viol.flex
					button.institution-btn.institution-btn--viol(data-search-btn="list").active Список
					button.institution-btn.institution-btn--viol(data-search-btn="map") Карта
						
			.institution-wrap(data-search-content="list").active
				mixin hei_item
					.institution-item
						.container.flex.flex-wrap 
							.school-image
								img(src="https://via.placeholder.com/225x158")
							.institution-info
								h5.institution-title Krüger Internat und Schulen
								mixin hei_summary(title,data,classn)
									.list-institution--summary.flex.align-items-center
										i.fas.fa-graduation-cap
										span.institution-summary--title=title
										span(class=classn)=data
								.list-institution--summary.flex.align-items-center
									i.fas.fa-graduation-cap
									span.institution-summary--title Рейтинг
									.rating.flex
										span.star.star--full
											i.fas.fa-star
										span.star.star--full
											i.fas.fa-star
										span.star.star--full
											i.fas.fa-star
										span.star.star--full
											i.fas.fa-star
										span.star
											i.fas.fa-star
								+hei_summary("Описание","Одна из лучших школ-пансионов Германии. Это маленькая уютная школа с семейной атмосферой и сильной учебной программой.", "institution-summary--data")
								+hei_summary("Расположен","Хольцминден ", "institution-summary--data color-viol")
							.institution-cost.flex.flex-column.align-items-end
								p.institution-price.institution-price--margin € 141,660
								p.institution-duration За все семестры 
								a(href="/school_not_paid.html").btn.btn--institution.btn--school-color.btn--hei-width Подробнее
				+hei_item
				+hei_item 
				.institution-item.institution-item--chosen
					.container.flex.flex-wrap
						.school-image.school-image--chosen
							img(src="https://via.placeholder.com/225x225")
						.institution-info
							h5.institution-title Schule Birklehof
							.school-logo
								img(src="https://via.placeholder.com/47x40")
							mixin hei_summary(title,data,classn)
								.list-institution--summary.flex.align-items-center
									i.fas.fa-graduation-cap
									span.institution-summary--title=title
									span(class=classn)=data
							.list-institution--summary.flex.align-items-center
								i.fas.fa-graduation-cap
								span.institution-summary--title Рейтинг
								.rating.flex
									span.star.star--full
										i.fas.fa-star
									span.star.star--full
										i.fas.fa-star
									span.star.star--full
										i.fas.fa-star
									span.star.star--full
										i.fas.fa-star
									span.star
										i.fas.fa-star
							+hei_summary("Описание","Бирклехоф является одной из ведущих школ-пансионов Германии по направлениям: естественные науки и техника, музыка и искусство.", "institution-summary--data")
							+hei_summary("Расположен","Хинтерцартен ", "institution-summary--data color-viol")
						.institution-cost.flex.flex-column.align-items-end
							p.institution-price € 141,660
							p.institution-duration За все семестры 
							a(href="/school_paid.html").btn.btn--institution.btn-chosen-color.btn--hei-width Подробнее
				+hei_item
			.institution-wrap.map(data-search-content="map")
				img(src="https://via.placeholder.com/1000x620?text=map")
		include footer.pug
	<script type="text/javascript" src="js/slider/tmpl.js"></script>
	<script type="text/javascript" src="js/slider/jquery.dependClass-0.1.js"></script>
	<script type="text/javascript" src="js/slider/draggable-0.1.js"></script>
	<script type="text/javascript" src="js/slider/jquery.slider.js"></script>
	<script type="text/javascript" src="js/jquery.sumoselect.min.js"></script>
		