extends pug/base

append vars
	- html.classList.push("page-index")
	- meta.charset = "utf-8"
	- meta.description = "Shuledas"
	- title = "Shuledas"
	- meta.viewport = "width=device-width, initial-scale=1"

block content 
	header.header.header-brightcyan
		.container  
			.col-12
				.row.justify-content-between
					.logo.align-self-center
						a(href="/")
							img(src="images/logo/logo.png")
					nav.header-nav.flex
						ul.header-nav--ul.flex
							mixin nav_link(link, text)
								li.header-nav--li
									a(href=link).header-nav--link=text
							li.header-nav--li
								a(href="/").header-nav--link.active Что такое Schuledas
							+nav_link("/school_list.html", "Школы")
							+nav_link("/universities_list.html", "Вузы")
							+nav_link("/articles.html", "Статьи")
							+nav_link("/post.html", "Медиа")
							+nav_link("/forum.html", "Форум")
							li.header-nav--li.sublist
								a(href=link).header-nav--link Доп. стр.
								ul.submenu
									+nav_link("/school_not_paid.html", "Школа без платы")
									+nav_link("/school_paid.html", "Школа с платой")
									+nav_link("/opinion.html", "Мнения")
									+nav_link("/news.html", "Новости")
									+nav_link("/university_not_paid.html", "вуз без платы")
									+nav_link("/university_paid.html", "вуз с платой")
									+nav_link("/specialization_not_paid.html", "Специльность без платы")
									+nav_link("/specialization_paid.html", "Специльность с платой")
									+nav_link("/school_search.html", "Поиск школы")
									+nav_link("/universities_search.html", "Поиск ВУЗа")
							li.header-nav--li
								a(href="/search.html").header-nav--link.header-nav--search Поиск
									i.fas.fa-search
						button.btn.btn--login.align-self-center Войти
	main
		.node-top.flex
			.node-top--img
				img(src="https://via.placeholder.com/607x607") 
			.node-top--info.flex.flex-column
				.node-top--content
					.post-title.post-title--padding.flex.flex-column.justify-content-center
						h1.h1 The Bachelor of Arts (Hons) in Business Management 
						a(href="#").link.institution-link EU Business School
							i.fas.fa-link
				.institution-logo
					img(src="https://via.placeholder.com/140x120?text=school logo")
				.node-join.flex.justify-content-between
					.insitution-page-cost
						p.institution-period За все семестры
						p.institution-price € 1,660

					button.btn.btn--brightcyan-color.align-self-center Спросить в чате
		.container
			.row
				.institution-content--paid.col-12.col-lg-5
					.row
						.institution-content--item
							h2.h2 Тип специальности
							p.institution-content-title.flex
								i.fas.fa-graduation-cap
								span Менеджмент
						.institution-content--item
							h2.h2 Программа обучения
							p.institution-content-title.flex
								i.fas.fa-graduation-cap
								span Бакалавр

						.institution-content--item
							h2.h2 Стоимость обучения
							.table
								table.table-price
									tr
										th семестр
										th стоимость
									mixin tr_td(type)
										tr
											td=type
											td € 9,000
									+tr_td('Название семестра')
									+tr_td('Название семестра номер два')
									+tr_td('Итого')
						.institution-content--item
							h2.h2 Когда поступить:
							ul
								li • Октябрь
								li • Февраль
								li • Июнь
								li • Август

						.institution-content--item
							h2.h2 Язык обучения
							p Английский

						.institution-content--item
							h2.h2 Специальность с проходным балом
							p Нет проходного бала

						.institution-content--item
							h2.h2 Необходимый уровень знания немецкого
							p Не требуется знание немецкого Языка

						.institution-content--item
							h2.h2 Необходимый уровень знания английского
							ul
								li • TOEFL 80/213
								li • IELTS 6.0

						.institution-content--item
							h2.h2 Поступления на семестр
							ul
								li • Летний
								li • Зимний

				.institution-content.institution-content--text.col-12.col-lg-7.flex.flex-column
					.row

						.institution-btns.institution-btns--brightcyan.flex
							button.institution-btn.institution-btn--brightcyan.active(data-institution-view="description") Описание школы
							button.institution-btn.institution-btn--brightcyan(data-institution-view="comment") Комментарии
								span.institution-btn--qty 324
						.institution-content--view(data-institution-content="description").active
							p В программе управления бизнесом предоставляются концепции, теории и методы для успешной карьеры в управлении бизнесом. Вы охватите основные компетенции: от финансов и маркетинга до анализа данных, этики и социальной ответственности. Вы станете более аналитическими, творческими и независимыми в своем мышлении. Окончание данной программы предоставит вам построить карьеру во многих областях бизнеса.
							span.text-expand Свернуть
								i.fas.fa-angle-down

							h2.h2 Список необходимых документов для поступления
							ul
								li • Заполнить заявление на поступление выбранной программы
								li • Копия аттестата о законченном среднем образовании
								li • Эссе
								li • Два рекомендательных письма
								li • 1 Фотография в электронном виде или 3 паспортных фотографий
								li • Копия паспорта
								li • Hегистрационный взнос (невозмещаемый): 200 CHF
								li • Справка из банка, подтверждающая финансовую состоятельность заявителя

							h2.h2 Процесс подачи документов
							p • Подача документов онлайн:
							p Заполнить заявление на поступление выбранной программы. Получение электронного письма с инструкциями о том, как отправить дополнительную документацию.
							p • Подача документов по электронной почте:
							p Распечатать и заполнить заявление на поступление выбранной программы. Отсканировать и отправить заполненное заявление по электронной почте в отдел приема в выбранном кампусе. Получение электронного письма с инструкциями о том, как отправить дополнительную документацию.
							p • Отправка подачи документов по электронной почте:
							p Отдел приема в выбранном кампусе свяжется с вами по электронной почте с инструкциями о том, как подать заявку. Отправьте пакет документов, содержащий запрошенные документы, по почте или по электронной почте (если применимо). Приемная комиссия подтвердит получение по электронной почте.
							h2.h2 Приезд в Германию и сдача вступительных экзаменов
							p Эйдос представляет собой определенный онтогенез. Энтелехия использует филогенез, так Г.Корф формулирует собственную антитезу. Хтонический миф, как бы это ни казалось парадоксальным, продолжает культовый образ. Художественный талант аккумулирует метод кластерного анализа.
						.institution-content--view(data-institution-content="comment")
	include footer.pug
